<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         table, td{
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>


</head>
<body>
    오르미 2기
    <a href={% url 'add_data' %}>데이터 추가 페이지로 이동</a>
    <ul>
        {% for post in  posts%}
            <li>
                <h2>{{post.title}}</h2>
                <p>{{post.content}}</p>
                <p>생성 날짜 : {{post.published_date}}</p>
            </li>
        {% endfor %}
    </ul>

<table>
    <tr>
        <td>id</td>
        <td>title</td>
        <td>content</td>
        <td>date</td>
    </tr>
    {% for post in posts %}
        <tr>
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{post.content}}</td>
            <td>{{post.published_date}}</td>
        </tr>
    {% endfor %}
</table>


</body>
</html>